body{
    background-color: #dddcdc;
}

#job{
    color: #000;
    text-align: center;
}

#name{
    
}

#img{

}

#top-menu-bar{
    text-align: center;
    color: #fff;
    text-align: center;
    background-color: #334455;
    }

#top-menu-bar li{ 
    display: inline; margin: 0;
    padding: 0;
}

#top-menu-bar a{ 
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    color: #fff;
    display: inline-block;
}

#top-menu-bar a:visited{
    color: #fff;
}
#top-menu-bar a:hover,
#top-menu-bar a.active{
    color: #334455;
     background: #fff;

    }

.page{
    background-color: #fff;
    padding: 24px;
    box-shadow:0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    margin: 16px 0 ;
    border-radius: 2px;

}
li{
    color: #000;
}

/* header, footer, #side-menu section {
    padding: 4px; margin: 2px;
    border: 2px solid blue;
}
#content div, #side-menu section {
    padding: 4px; margin: 2px;
    border: 2px solid red;
}
#side-menu section {
    border: 2px solid green;
}    */

html{
    height: 100%;
}
body{
    margin: 0;
    min-height: 100%;
    display: flex; 
    flex-direction: column;
}
 header {
     /* flex: 1; */
 }

body > section{
    flex: 4;
    
}
#content {
    flex: 4;
    display: flex; flex-direction: row;
    position: relative;
    left: 30px;
}
#side-menu { 
    padding: 10px;
    flex: 1;
 }
#main { flex: 4; }
footer {
    max-height: 20px;
    padding: 10px;
    text-align: center;
    background-color: #334455;
} 

a{
    color: #fff
    ;
}

h1, #name{
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }